# Database
DATABASE_URL="postgresql://neondb_owner:npg_xWvHo87JAmLy@ep-hidden-truth-a4y8acb3-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Configuration
JWT_SECRET="your-secure-256-bit-secret-here"

# Server
PORT=8000
