# Database
DATABASE_URL="postgresql://neondb_owner:npg_xWvHo87JAmLy@ep-hidden-truth-a4y8acb3-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Configuration
JWT_SECRET="your-secure-256-bit-secret-here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Password Hashing
BCRYPT_ROUNDS=12

# Server
PORT=8003
